body{
    text-align: center;
    background-image:url("https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?w=2000") ;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    background-color: whitesmoke;
    width: 100%;
    padding: 5px;
    font-size: 40px;
    border-radius: 20px;
}
#camera,#result{
    border: 2px ridge red;
    width: 350px !important;
    height: 300px !important;
    margin-left: 600px;
}
img{
    width: 350px !important;
    height: 300px !important; 
}
#btn1{
    width: 100px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    background: linear-gradient(yellow,red);
    color:whitesmoke;
}